.ellipse {
  position: absolute;
  margin-left: 6.5em;
  margin-top: 3em;
  display: none; }
  .ellipse li button {
    list-style: none;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px; }

.like {
  background: url("../../graphic/elipse-button/shape-67.png"), #02baab;
  height: 19px;
  width: 19px;
  background-position: center;
  background-repeat: no-repeat; }

.zoom {
  background: url("../../graphic/elipse-button/shape-66.png"), #02baab;
  height: 19px;
  width: 19px;
  background-position: center;
  background-repeat: no-repeat; }

.fix {
  background: url("../../graphic/elipse-button/shape-68.png"), #02baab;
  height: 19px;
  width: 19px;
  background-position: center;
  background-repeat: no-repeat; }

.expirience {
  padding: 5em 0 5em 0;
  color: rgba(255, 255, 255, 0.7);
  background-color: #02baab; }
  .expirience header {
    padding: 0 0 2em 0; }

.radial-info {
  margin-top: 1em; }
  .radial-info li {
    list-style: none;
    margin-right: 100px; }
  .radial-info li:last-child {
    margin: 0; }

@media (max-width: 1000px) {
  .expirience {
    display: none; } }

.super-features {
  padding: 5em 0 5em 0; }

.features-content {
  padding: 3em; }
  .features-content li {
    list-style: none; }
    .features-content li p {
      margin-left: 4.2em; }

.creative-design:before {
  width: 39px;
  height: 39px;
  content: url("../../graphic/fitures/shape-59.png");
  margin-right: 1em; }

.over-title:before {
  content: url("../../graphic/fitures/shape-74.png");
  width: 39px;
  height: 39px;
  margin-right: 1em; }

.incredible-documentation:before {
  content: url("../../graphic/fitures/shape-62.png");
  width: 39px;
  height: 39px;
  margin-right: 1em; }

.responsive-retina:before {
  content: url("../../graphic/fitures/shape-61.png");
  width: 39px;
  height: 39px;
  margin-right: 1em; }

.main-footer {
  color: #ffffff;
  background-color: #1f2a32; }
  .main-footer li {
    padding: 0; }
    .main-footer li ul {
      padding: 0 1em 0 0; }
  .main-footer header {
    padding: 4em 0 2em 0; }
  .main-footer .container {
    margin-bottom: 0; }

.footer-to-top {
  text-decoration: none;
  height: 40px; }

.footer-to-top:hover {
  text-decoration: none; }

.latest-works {
  padding: 4em 0 4em 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #08384b;
  color: #ffffff; }

.latest-work-header:after {
  display: flex;
  margin: 1em 0 1em 47.5%;
  content: "";
  background: #ffffff;
  width: 50px;
  height: 5px; }

.slider-latest-works {
  display: flex; }
  .slider-latest-works li {
    display: flex;
    margin: 1em; }
  .slider-latest-works li:hover .ellipse {
    display: block; }
  .slider-latest-works li:hover .works-bottom-info {
    display: none; }

.works-bottom-info {
  position: absolute;
  width: 290px;
  margin-top: 14em; }
  .works-bottom-info li {
    margin: 0;
    display: flex; }

.white-like {
  background: url("../../graphic/elipse-button/shape-67.png");
  height: 19px;
  width: 19px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px; }

.our-team {
  padding-bottom: 5em; }
  .our-team header {
    padding: 5em 0 5em 0; }

.our-team-list li {
  list-style: none; }

.our-team-list li:hover .our-team-list-content {
  display: none; }

.our-team-list-content {
  width: 210px;
  background: #ffffff;
  position: absolute;
  margin-bottom: 3em; }

.our-team-button {
  margin-bottom: -5em; }

.latest-posts {
  margin: 5em 0 5em 0; }
  .latest-posts header {
    margin: 1em 0 3em 0; }

.quote-content {
  margin-bottom: 10em;
  font-size: 24px; }

.quote-content:before {
  content: url("../../graphic/quote-slider/shape-63.png");
  width: 45px;
  height: 37px; }

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 145px;
  position: relative;
  width: 218px;
  height: 218px;
  border-radius: 50%;
  background-color: #fff; }

.progress-radial:last-child {
  margin: 0; }

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 210px;
  height: 210px;
  background-color: #02baab;
  border-radius: 50%;
  margin-left: 4px;
  margin-top: 4px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  z-index: 0; }

.gears {
  border-radius: 50%;
  background: url("../../graphic/radials/shape-69.png"), #000000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  margin: 60px 0 0 60px; }

.phone {
  border-radius: 50%;
  background: url("../../graphic/radials/shape-75.png"), #000000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  margin: 60px 0 0 60px; }

.rocket {
  border-radius: 50%;
  background: url("../../graphic/radials/shape-72.png"), #000000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  margin: 60px 0 0 60px; }

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-5 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-10 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-15 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-20 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-25 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-30 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-35 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-40 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-45 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(350deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-50 {
  background-image: linear-gradient(-90deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-55 {
  background-image: linear-gradient(-72deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-60 {
  background-image: linear-gradient(-54deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-65 {
  background-image: linear-gradient(-36deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-70 {
  background-image: linear-gradient(-18deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-75 {
  background-image: linear-gradient(0deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-80 {
  background-image: linear-gradient(18deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-85 {
  background-image: linear-gradient(36deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-90 {
  background-image: linear-gradient(54deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-95 {
  background-image: linear-gradient(72deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.progress-100 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, rgba(2, 186, 171, 0.8) 50%, rgba(2, 186, 171, 0.8)); }

.steal header {
  padding: 0 0 3em 0; }

body {
  font-family: "Oxygen", sans-serif !important; }

li {
  list-style: none; }

ul {
  padding: 0; }

button:hover {
  cursor: pointer; }

.welcome {
  min-height: 95vh;
  width: 100%;
  margin: auto; }

.img-fluid {
  height: 95vh !important;
  width: 100% !important; }

.main-color {
  color: #02baab; }

.button {
  background: none;
  border: 3px solid #02baab;
  color: #02baab;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oxygen, serif;
  line-height: 35px;
  letter-spacing: 0.9px;
  padding: 0 1em 0 1em; }

.button:hover {
  background: #02baab;
  color: #ffffff; }

.steal {
  padding: 5em 0 5em 0; }

.amber {
  background-color: #02baab;
  padding: 5em 0 5em 0;
  color: #ffffff;
  letter-spacing: 0.9px;
  line-height: 35px; }

.link {
  border: 3px solid #ffffff;
  background: none;
  color: #ffffff;
  font-family: Oxygen, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.9px; }

.welcome-content {
  margin-bottom: 25em; }

.welcome-buttons {
  margin-top: 5em; }

.welcome-button {
  margin-right: 4em; }
